data/GWAS/*
!data/GWAS/.gitkeep
data/ld_ref/*
!data/ld_ref/.gitkeep
data/liftOver/
tools/*
!tools/.gitkeep
software/
/results/
/manuscript/
*.partial
*.tmp
.Rhistory
.RData
.Rproj.user
*.knit.md
*.utf8.md
Japanese_BP_WMH_GWMR/data/
Japanese_BP_WMH_GWMR/software/
Japanese_BP_WMH_GWMR/logs/
Japanese_BP_WMH_GWMR/analysis_history/*/processed/
Japanese_BP_WMH_GWMR/analysis_history/*/clumping/
Japanese_BP_WMH_GWMR/analysis_history/*/logs/
